@media (min-width:1024px) {
    .sliding-nav {
        width: 17%;
    }
}

@media (max-width:1024px) {
    .sliding-nav {
        width: 30%;
    }
    .header-blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-blogs .section-one-blog {
        width: 90%;
    }
    .header-blogs .section-one-blog .box-section-blogs {
        transform: translateY(0);
    }
    .header-blogs .section-one-blog .box-section-blogs .desc-box p {
        display: none !important;
    }
    .header-blogs .section-two-blog {
        width: 90%;
    }
    .header-blogs .child-two-blog .box-section-two {
        transform: translateY(2rem);
    }
    .header-blogs .child-two-blog .box-section-two .desc-box p {
        display: none;
    }
    .blogs-suggest-cards {
        display: none;
    }
    .title-websites .boxes-title-websites .search form input {
        width: 23rem;
    }
    .body-websites-page .websites-box .box-websites {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .body-websites-page .websites-box .box-websites .desc-box-websites {
        margin-top: 1rem;
        width: 100%;
    }

    .body-websites-page .websites-box .box-websites .desc-box-websites .desc-box{
        font-size: .6rem;
    }
}

@media (max-width:500px) {
    .sliding-nav {
        width: 80%;
    }
    .blogs-suggest-cards {
        display: block;
    }
    .auth_page {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .auth_page .desc_auth_page {
        display: none;
    }
    .auth_page .form_auth_page {
        width: 100%;
        margin-top: 3rem;
    }
    .title-websites .boxes-title-websites .search form input {
        width: 17rem;
        margin-bottom: .5rem;
    }
}