@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #45526C;
    --green: #5AA897;
    --red: #dc3545;
    --gray: #f8f8f8;
    --white: #ffffff;
    --dark: #35353f;
    --orange: #FF6B6B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BYekan' !important;
    font-size: 14px;
    word-spacing: -1px;
}

.navbar-me {
    flex-direction: row !important;
}

.span-me {
    color: #FF6B6B;
    font-family: sans-serif;
}

.ourservices {
    background: #45526C !important;
    border-radius: 46px 0px 0px 46px !important;
    border: 1px solid #45526C !important;
    width: 93% !important;
    height: 25rem !important;
}

.title {
    position: relative;
}

.title h3 {
    color: #5AA897 !important;
    font-family: 'Edo', sans-serif;
}

.title p::after {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 1%;
    height: 2px;
    bottom: -3px;
    right: 45%;
}

.background-after::after {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 12%;
    height: 3px;
    bottom: -3px;
}

.cards {
    position: relative;
}

.about-us p::before {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 5px;
    height: 90%;
    top: 0;
    opacity: 0.8;
    right: 0;
}

/* Footer */

.footer-dark {
    padding: 30px 0 0 0;
    color: #f0f9ff;
    background-color: #45526C;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    color: #eeee !important;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    color: #eeee !important;
    font-family: sans-serif;
}

.footer-dark ul a:hover {
    opacity: 1;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
    color: #eeee !important;
}

/* LOGIN PAGE */

.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN PAGE */

/* navbar sliding */

.navbar ul li svg {
    cursor: pointer;
    font-size: 2rem;
    transition: all .2s ease-in;
}

.navbar ul li svg:hover {
    color: var(--red);
}

.sliding-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 999;
    transform: translateX(20rem);
    transition: all .5s ease-in;
}

.sliding-nav .close-navbar svg {
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.sliding-nav .close-navbar svg:hover {
    color: var(--red);
}

.sliding-nav .title-sliding-nav {
    margin-top: 1rem;
}

.sliding-nav .items-menu-sliding {
    width: 90%;
    margin-right: .5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliding-nav .items-menu-sliding:hover .icons-menu {
    color: var(--red);
}

.sliding-nav .items-menu-sliding .chevron-icon-menu svg {
    transform: translateX(2rem);
    transition: all .5s ease;
}

.sliding-nav .items-menu-sliding:hover .chevron-icon-menu svg {
    transform: translateX(0);
}

/* navbar sliding */

/* header blogs */

.header-blogs {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
}

.header-blogs .section-one-blog {
    width: 55%;
    height: 100%;
    border-radius: .3rem;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-blogs .section-one-blog .box-section-blogs {
    background-color: #35353fc0;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(5.5rem);
    transition: all .8s ease;
}

.header-blogs .section-one-blog:hover .box-section-blogs {
    transform: translateY(0rem);
    transition: all .8s ease;
}

.header-blogs .section-two-blog {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-blogs .child-two-blog {
    width: 100%;
    height: 49%;
    border-radius: .3rem;
    margin: .2rem 0;
    background-size: 100% 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-blogs .child-two-blog .box-section-two {
    background-color: #35353fc0;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(5.5rem);
    transition: all .8s ease-in;
}

.header-blogs .child-two-blog:hover .box-section-two {
    transform: translateY(0rem);
    transition: all .3s ease-in;
}

/* header blogs */

/* body blogs */

/* ! title */

.title-body-blogs {
    position: relative;
}

.title-body-blogs p::after {
    content: "";
    position: absolute;
    background-color: var(--green);
    width: 5%;
    height: 3px;
    bottom: .5rem;
}

/* ! title */

/* ! cards */

.card-blog .image-card-blog {
    width: 100%;
    height: 15rem;
    margin: auto;
}

.card-blog .image-card-blog {
    position: relative;
}

.card-blog .image-card-blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: all .5s ease-in;
}

.card-blog .image-card-blog .imageLayer-cardblog {
    width: 100%;
    height: 100%;
    background-color: #35353f96;
    position: absolute;
    top: 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card-blog .image-card-blog .imageLayer-cardblog a {
    color: var(--white) !important;
    transform: translateY(6rem);
    border: 1px solid var(--white);
    padding: 1rem;
    transition: all .6s ease-in-out;
}

.card-blog .image-card-blog:hover .imageLayer-cardblog {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.card-blog .image-card-blog:hover .imageLayer-cardblog a {
    transform: translateY(0rem);
    transition: all .8s ease-in-out;
}

.card-blog .image-card-blog img:hover {
    border-radius: 0rem;
}

.card-blog .title-card-blog span {
    opacity: 0;
    transition: all.5s ease-in-out;
}

.card-blog .title-card-blog:hover span {
    opacity: 1;
    transition: all.5s ease-in-out;
}

.card-blog .desc-card-blog p {
    font-size: .9rem;
    line-height: 2rem !important;
}

.card-blog .detail-card-blog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-blog .detail-card-blog p {
    margin-right: .5rem;
    position: relative;
}

/* ! cards */

/* body blogs */

/* blog page */

.blog-page .title-blog {
    position: relative;
}

.blog-page .title-blog::after {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 3px;
    height: 100%;
    bottom: -3px;
    right: -2%;
}

.blog-page .title-blog .breadcrumb-blog {
    opacity: .5;
}

.blog-page .title-blog .breadcrumb-blog a {
    margin-right: .8rem;
}

.blog-page .image-blog {
    width: 90%;
    height: 30rem;
    margin: auto;
}

.blog-page .image-blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.blogs-desc-background {
    margin-top: 1rem !important;
    width: 90%;
    margin: auto;
    background-color: #35353f1a;
    padding: 2rem;
    border-radius: .5rem;
}

.blog-page .short-desc p {
    font-size: 1rem;
    line-height: 2rem !important;
    font-weight: bold;
}

.blog-page .desc-blog p {
    line-height: 2rem !important;
}

/* !  <!-- newlist-blog  --> */

.newlist-blog {
    margin-top: 2rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .8rem;
    transition: all .5s ease-in;
}

.newlist-blog .image-newlist-blog img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.newlist-blog .title-newlist-blog p {
    line-height: 1rem !important;
}

/* !  <!-- newlist-blog  --> */

/* blog page */

/* paginate */

.pagination {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #35353f;
    border-radius: 50%;
    margin-right: .2rem;
}

/* paginate */

/* owl carousel */

.owl-next, .owl-prev {
    background-color: var(--red) !important;
    margin-right: .5rem;
    width: 3rem;
    height: .5rem;
    border-radius: 1rem;
    transition: all .5s ease-in;
}

.owl-dot {
    display: none !important;
}

.owl-prev span, .owl-next span {
    display: none !important;
}

.owl-prev:hover, .owl-next:hover {
    width: 7rem;
    transition: all .3s ease-in;
}

/* owl carousel */

/* auth page */

.auth_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.auth_page .desc_auth_page {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth_page .desc_auth_page .menu_auth_page {
    position: absolute;
    top: 1rem;
}

.auth_page .desc_auth_page .menu_auth_page ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.auth_page .desc_auth_page .menu_auth_page ul li {
    margin-right: 1.5rem;
}

.auth_page .desc_auth_page .menu_auth_page ul li a {
    color: var(--white) !important;
}

.auth_page .desc_auth_page p {
    color: var(--white) !important;
    margin: 1rem 0;
}

.auth_page .form_auth_page {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_page .form_auth_page .form_auth {
    width: 80%;
}

.auth_page .form_auth_page .form_auth .link_form_auth a {
    color: #45526C;
    font-weight: bold;
}

/* auth page */

.user-panel .items-panel .item-panel a {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 1rem;
    transition: all .3s ease-in;
}

.user-panel .items-panel .item-panel a svg {
    transform: translateX(5rem);
    transition: all .5s ease-in;
    opacity: 0;
}

.user-panel .items-panel .item-panel a:hover {
    background-color: var(--red);
    transition: all .3s ease-in;
}

.user-panel .items-panel .item-panel a:hover svg {
    transform: translateX(1rem);
    transition: all .5s ease-in;
    opacity: 1;
}

/* ! detail user */

.detail-user {
    padding: 3rem;
}

/* ! detail user */

/* ! edit user */

.edit-user {
    padding: 3rem;
}

/* ! edit user */

/* !orders user */

.orders-user {
    padding: 3rem;
}

/* !orders user */

/* ! message-user */

.message-user {
    padding: 3rem;
}

/* ! message-user */

/* user-panel */

/* title web sites  */

.title-websites-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-websites-page .breadcrumb-websites {
    opacity: .5;
}

/* ! search box */

.title-websites {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-select {
    border: 2px solid #35353f !important;
}

.title-websites .boxes-title-websites .search form {
    display: flex;
    position: relative;
}

.title-websites .boxes-title-websites .search form input {
    padding: .5rem;
    border-radius: .3rem;
    width: 30rem;
}

.title-websites .boxes-title-websites .search form button {
    position: absolute;
    top: 13%;
    right: -2rem;
}

.title-websites .boxes-title-websites .search:hover form button {
    font-size: 1.2rem;
    color: var(--red);
    transition: all .5s ease-in;
}

/* ! search box */

/* title web sites  */

/*  body website pages  */

/* ! aside web site pages */

.body-websites-page .boxes-tags .title-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--gray);
    padding: .8rem;
}

.body-websites-page .boxes-tags .title-tags svg {
    font-size: 1rem;
    transform: translateX(5rem);
    opacity: 0;
    transition: all .5s ease-in;
}

.body-websites-page .boxes-tags .title-tags:hover svg {
    opacity: 1;
    font-size: 1.5rem;
    transform: translateX(0rem);
    transition: all .5s ease-in;
    color: var(--red);
}

.body-websites-page .boxes-tags .tags-websites {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    display: none;
}

.show {
    display: flex !important;
}

.body-websites-page .boxes-tags .tags-websites .tag {
    background-color: var(--gray);
    padding: .5rem;
    margin-top: 1rem;
    margin-right: .5rem;
    transition: all .1s ease-in;
}

.body-websites-page .boxes-tags .tags-websites .tag:hover {
    background-color: var(--red);
    transition: all .1s ease-in;
}

.body-websites-page .boxes-tags .tags-websites .tag:hover a {
    color: var(--white) !important;
}

.body-websites-page .boxes-tags .tags-websites a span {
    font-size: .8rem;
    transition: all .1s ease-in;
}

/* ! aside web site pages */

/* !websites-box" */

.body-websites-page .websites-box {
    padding: 2rem;
}

.body-websites-page .websites-box .box-websites {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-websites-page .websites-box .box-websites .image-box-websites {
    width: 100%;
    height: 17rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-websites-page .websites-box .box-websites .image-box-websites img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: .5rem;
}

.caption-box-websites {
    background-color: rgba(0, 0, 0, 0.267);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: all .5s ease-in;
    overflow: hidden;
    cursor: pointer;
    border-radius: .5rem;
}

.body-websites-page .websites-box .box-websites .image-box-websites:hover img {
    filter: blur(3px);
}

.body-websites-page .websites-box .box-websites .image-box-websites:hover .caption-box-websites {
    display: block;
}

.items-caption {
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    transform: translateX(50rem);
    border-radius: 3rem;
    transition: all .5s ease-in;
}

.caption-box-websites:hover .items-caption {
    transform: translateX(22rem);
}

.body-websites-page .websites-box .box-websites .image-box-websites .caption-box-websites * {
    color: var(--white) !important;
}

.body-websites-page .websites-box .box-websites .desc-box-websites {
    margin-right: .5rem;
    width: 50%;
}

.body-websites-page .websites-box .box-websites .desc-box-websites p {
    line-height: 1.5rem !important;
}

/* !websites-box" */

/*  body website pages  */

/* website-page */

.website-page .body-website-page .shortdesc-website-page p {
    line-height: 2rem !important;
}

.website-page .body-website-page .desc-website-page p {
    font-size: 1rem;
}

/* ! aside website page */

.website-page .price-website-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.website-page .fav-website-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.website-page .fav-website-page .fav-heart:hover a svg {
    color: var(--red);
    transition: all .3s ease-in;
}

.website-page .fav-website-page * {
    font-size: .8rem;
}

.website-page .price-website-page p span {
    background-color: var(--white);
    padding: .5rem;
    border-radius: 3rem;
    color: var(--red);
    border: 1px solid var(--red);
    transition: all .2s ease-in;
}

.website-page .price-website-page p span:hover {
    background-color: var(--red);
    color: var(--white);
}

.website-page .price-website-page .price {
    font-size: 1.5rem;
}

.website-page .desc-aside-website-page * {
    line-height: 1.5rem !important;
}

.website-page .desc-aside-website-page .checked-desc {
    display: flex;
    justify-content: flex-start;
}

.website-page .desc-aside-website-page .checked-desc p {
    margin-right: .5rem;
    opacity: .9;
}

.website-page .desc-aside-website-page .checked-desc svg {
    color: var(--red);
}

.website-page .date-aside-website-page {
    display: flex;
    justify-content: space-between;
}

.website-page .date-aside-website-page .text-date-aside p svg {
    margin-left: .3rem;
    font-size: larger;
    color: var(--red);
}

/* ! aside website page */