@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #45526C;
    --green: #5AA897;
    --red: #dc3545;
    --pink: #e5a1f8;
    --white: #ffffff;
    --dark: #35353f;
    --orange: #FF6B6B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BYekan' !important;
    font-size: 14px;
    word-spacing: -1px;
}

.navbar-me {
    flex-direction: row !important;
}

.span-me {
    color: #FF6B6B;
    font-family: sans-serif;
}

.ourservices {
    background: #45526C !important;
    border-radius: 46px 0px 0px 46px !important;
    border: 1px solid #45526C !important;
    width: 93% !important;
    height: 25rem !important;
}

.title {
    position: relative;
}

.title h3 {
    color: #5AA897 !important;
    font-family: 'Edo', sans-serif;
}

.title p::after {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 1%;
    height: 2px;
    bottom: -3px;
    right: 45%;
}

.background-after::after {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 12%;
    height: 3px;
    bottom: -3px;
}

.cards {
    position: relative;
}

.about-us p::before {
    content: "";
    position: absolute;
    background-color: #5AA897;
    width: 5px;
    height: 90%;
    top: 0;
    opacity: 0.8;
    right: 0;
}

/* Footer */

.footer-dark {
    padding: 30px 0 0 0;
    color: #f0f9ff;
    background-color: #45526C;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    color: #eeee !important;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    color: #eeee !important;
    font-family: sans-serif;
}

.footer-dark ul a:hover {
    opacity: 1;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
    color: #eeee !important;
}

/* LOGIN PAGE */

.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN PAGE */

/* navbar sliding */

.navbar ul li svg {
    cursor: pointer;
    font-size: 2rem;
    transition: all .2s ease-in;
}

.navbar ul li svg:hover {
    color: var(--red);
}

.sliding-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.973);
    z-index: 999;
    transform: translateX(20rem);
    transition: all .5s ease-in;
}

.sliding-nav .close-navbar svg {
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.sliding-nav .close-navbar svg:hover {
    color: var(--red);
}

.sliding-nav .title-sliding-nav {
    margin-top: 1rem;
}

.sliding-nav .items-menu-sliding {
    width: 90%;
    margin-right: .5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliding-nav .items-menu-sliding:hover .icons-menu {
    color: var(--red);
}

.sliding-nav .items-menu-sliding .chevron-icon-menu svg {
    transform: translateX(2rem);
    transition: all .5s ease;
}

.sliding-nav .items-menu-sliding:hover .chevron-icon-menu svg {
    transform: translateX(0);
}

/* navbar sliding */